.about {
  padding-top: 78px;

  @media (max-width: 1200px) {
    padding-top: 60px;
  }

  @media (max-width: 576px) {
    padding: 24px 0;
  }

  .about-image-holder {
    text-align: center;

    @media (max-width: 1200px) {
      order: 1;
      margin-top: 63px;
    }

    @media (max-width: 576px) {
      max-height: 358px;
      margin-top: 22px;
    }

    .about-image {
      height: 100%;
      width: auto;
    }
  }

  .about-content-holder {
    padding-right: 125px;

    @media (max-width: 1200px) {
      padding: 0;
    }

    h2 {
      margin-top: 18px;
      margin-bottom: 24px;
    }

    .primary-paragraph:nth-of-type(1) {
      margin-bottom: 24px;
    }
  }
}
