.about {
  padding-bottom: 100px;
  @media (max-width: 992px) {
    padding-top: 60px;
  }

  .about-image-holder {
    text-align: center;

    @media (max-width: 992px) {
      order: 1;
      margin-top: 60px;
    }

    .about-image {
      height: 100%;
      width: auto;
    }
  }

  .about-content-holder {
    padding-right: 100px;

    @media (max-width: 992px) {
      padding: 0;
    }

    h2 {
      margin-top: 18px;
      margin-bottom: 24px;
    }

    .primary-paragraph:nth-of-type(1) {
      margin-bottom: 24px;
    }
  }
}
