.main-footer {
  background: url("../assets/img/noise_transparent.png"),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%);

  @media (max-width: 992px) {
    .container {
      max-width: 640px;
    }
  }

  .col-33 {
    padding-bottom: 28px;
    padding-top: 59px;

    @media (max-width: 1200px) {
      width: 50%;
      padding-top: 37px;
    }

    @media (max-width: 576px) {
      width: 100%;  
    }
  }

  .col-33:nth-of-type(3) {
    
    @media (max-width: 1200px) {
      margin-top: 12px;
      padding-bottom: 43px;
    }
  }

  .col-33:nth-of-type(2),
  .col-33:nth-of-type(3) {
    padding-left: 39px;

    @media (max-width: 1200px) {
      padding-left: 20px;
    }

  }

  .dog-bg {
    background-image: url("../assets/img/footer-puppy.png");
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    min-height: 300px;
    margin-top: 41px;

    @media (max-width: 1200px) {
      width: 100%;
      background-position: center;
      
      margin-top: 10px;
    }
  }

  .footer-header {
    color: #fff;
  }

  .footer-content {
    font-size: 20px;
    line-height: 23px;
    color: $bg-color-primary;
    letter-spacing: 0.06em;
    display: flex;
    align-items: center;
    padding: 8px 0px 33px;
    font-family: $secondary-font-family;

    &.right {
      padding: 0 0 30px;
    }

    .footer-icon {
      height: 100%;
      width: auto;
    }

    .footer-content-details {
      margin-left: 20px;
    }
  }

  /*   .footer-content:nth-child(2):first-of-type {
    padding-top: 20px;
  } */
}
