.in-addition {
  padding: 82px 0 87px;
  background: #f6f6f6;

  @media (max-width: 1200) {
    padding: 85px 0 75px;
  }

  .text-content {
    padding: 0 77px;
    padding-right: 120px;

    @media (max-width: 1200px) {
      padding: 0 56px 0 26px;
    }
  }

  .bank-info {
    letter-spacing: 0.06em;
    line-height: 110%;
  }

  .bank-card {
    background-color: $bg-color-primary;
    border-radius: 9px;
    display: flex;
    padding: 10px;
    justify-content: center;

    .credit-card-img {
      width: initial;
      margin-right: 13px;
    }

    .bank-card-num {
      font-family: "Georgia";
      font-size: 20px;
      line-height: 115%;
      letter-spacing: 0.06em;
      color: #545454;
      margin: 0;
    }
  }

  .legality-info {
    font-style: italic;
    font-size: 12px;
    line-height: 150%;
    color: #b2b2b2;
    margin-top: 20px;
  }

  .in-addition-heading {
    margin-bottom: 16px;
  }

  .col-50 {

    &.donation-dog-image {
      transform: translateX(70px) scale(0.9);
    }
  }

  @media (max-width: 1200px) {
    .col-50 {
      width: 100%;

      &.donation-dog-image {
        order: 1;
        padding: 65px 0 25px;
        transform: scale(1.15);
      }
    }
  }

  @media (max-width: 576px) {
    .col-50 {
      &.donation-dog-image {
        transform: scale(1);
      }
    }
  }
}
