.tmp {
  height: 1106px;
}

.our-friends {
  position: relative;
  text-align: center;
  padding: 88px 0;
  background: #F6F6F6;

  .slider {
    padding: 0 56px;
  }

  button.arrow {
    position: absolute;
    top: 56%;

    border: #e06733 2px solid;
    border-radius: 50%;
    display: block;
    background-color: transparent;
    width: 50px;
    height: 50px;

    &.right {
      right: 193px;
    }

    &.left {
      left: 193px;
    }
  }
  
  .our-friends-item {
    text-align: center;
    /* background-color: #fafafa; */
    width: 73.2%;
    margin: auto;
    border-radius: 5px;
    background: #FFFFFF;
    overflow: hidden;
    padding-bottom: 30px;
    margin-top: 30px;

    &:hover {
      background-color: white;
    }

    .secondary-btn {
      color: #fff;
      background-color: #e06733;
      transition: all 0.3s;

      &:hover {

      }
    }

    h3 {
      margin: 30px 0 45px;
      font-size: 20px;
    }
  }
}
