.our-friends {
  position: relative;
  text-align: center;
  padding: 103px 0 99px;
  background: #f6f6f6;

  @media (max-width: 768px) {
    padding: 105px 0 99px;
  }

  .our-friends-btn {
    background: #f1cdb3;
    padding: 13px 42px;

    &:hover {
      background: #fddcc4;
      border-color: #fddcc4;
    }
  }

  .slider {
    padding: 0 56px;
    position: relative;
    margin-bottom: 27px;
    margin-top: 61px;

    @media (max-width: 576px) {
      padding: 0;
    }

    .col-33 {
      padding: 0 48px;

      @media (max-width: 1200px) {
        padding: 0 21px;
      }
    }

    @media (max-width: 1200px) {
      .col-33:nth-of-type(3) {
        display: none;
      }
      .col-33 {
        width: 50%;
      }
    }
    @media (max-width: 576px) {
      .col-33:nth-of-type(2) {
        display: none;
      }

      .col-33 {
        width: 100%;
      }
    }
  }

  button.slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-72%);

    @media (max-width: 576px) {
      top: 100%;
    }

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &.right {
      right: 0;

      @media (max-width: 576px) {
        right: 30px;
      }

      & > svg {
        transform: translate(-50%, -50%) rotate(180deg);
      }
    }

    &.left {
      left: 0;

      @media (max-width: 576px) {
        left: 30px;
      }
    }

    &.right:hover,
    &.left:hover {
      transition: all 0.3s;
      background: #fddcc4;
      border-color: #fddcc4;
    }
  }
}
