.in-addition {
  padding: 80px 0 87px;
  background: #f6f6f6;

  @media (max-width: 1200px) {
    padding: 81px 0 91px;
  }

  @media (max-width: 576px) {
    padding: 50px 0;
  }

  .row {
    justify-content: center;
  }

  .text-content {
    padding: 0 77px;
    padding-right: 139px;

    @media (max-width: 1200px) {
      max-width: 350px;
      padding: 0;
    }
  }

  .bank-info {
    letter-spacing: 0.06em;
    line-height: 110%;

    @media (max-width: 576px) {
      margin: 1.5em 0 1.7em;
      letter-spacing: initial;
    }
  }

  .bank-card {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: max-content;
    padding: 10px;
    background-color: #F1CDB3;
    border-radius: 9px;
    margin: auto;

    background-color: $bg-color-primary;
    border-radius: 9px;

    .credit-card-img {
      width: initial;
      margin-right: 13px;
    }

    .bank-card-num {
      font-family: "Georgia";
      font-size: 20px;
      line-height: 115%;
      letter-spacing: 0.06em;
      color: #545454;
      margin: 0;

      @media (max-width: 576px) {
        font-size: 15px;
      }
      
      @media (max-width: 480px) {
        font-size: 13px;
      }
    }
  }

  .legality-info {
    font-style: italic;
    font-size: 12px;
    line-height: 150%;
    color: #b2b2b2;
    margin-top: 20px;
  }

  .in-addition-heading {
    margin-bottom: 16px;
  }

  .col-50 {

    &.donation-dog-image {
      transform: translateX(70px) translateY(-4px)scale(0.915);
    }
  }

  @media (max-width: 1200px) {
    .col-50 {
      width: 100%;

      &.donation-dog-image {
        order: 1;
        padding: 65px 0 25px;
        transform: scale(1.17);
      }
    }
  }

  @media (max-width: 576px) {
    .col-50 {
      &.donation-dog-image {
        padding: 23px 0 25px;
        transform: scale(0.92);
      }
    }
  }
}
