.our-friends {
  position: relative;
  text-align: center;
  padding: 103px 0 99px;
  background: #f6f6f6;

  @media (max-width: 1200px) {
    padding: 81px 0 99px;
  }

  @media (max-width: 576px) {
    padding: 57px 0 45px;
  }

  .our-friends-btn {
    background: #f1cdb3;
    padding: 13px 42px;
    margin-top: 34px;

    &:hover {
      background: #fddcc4;
      border-color: #fddcc4;
    }
  }

  .slider {
    padding: 0 56px;
    position: relative;
    margin-bottom: 80px;

    @media (max-width: 768px) {
      padding: 0 25%;
    } 
    @media (max-width: 576px) {
      padding: 0 10%;
    } 

    .col-33 {
      padding: 0 25px;
    }

    .slider-wrapper {
      overflow: hidden;
      width: 100%;
      
      .slider-holder {
        display: flex;
        position: relative;
        left: 0;
        width: 166.66%;

        @media (max-width: 1200px) {
          width: 200%;
        }

        @media (max-width: 768px) {
          width: 300%;
        }

        .col-33 {
          position: relative;
          transition: left 0.5s;

          @media (max-width: 1200px) {
            width: 50%;

            &:last-of-type {
              display: none;
            }
          }

          @media (max-width: 768px) {
            width: 100%;

            &:first-of-type {
              display: none;
            }
          }
        }
      }
    }
    

    @media (max-width: 768px) {
      .col-33:nth-of-type(1) {
        display: none;
      }
      .col-33 {
        width: 50%;
      }
    }
  }

  button.slider-btn {
    position: absolute;
    top: 50%;

    svg {
      position: absolute;
      top: 50%;
      left: 50%; 
      transform: translate(-50%, -50%);
    }

    &.right {
      right: 0;

      & > svg {
        transform: translate(-50%, -50%) rotate(180deg);
      }
    }

    &.left {
      left: 0;
    }

    @media (max-width: 768px) {
      &.right {
        right: 100px;
      }
  
      &.left {
        left: 100px;
      }
    }

    @media (max-width: 650px) {
      &.right {
        right: 80px;
      }
  
      &.left {
        left: 80px;
      }
    }
    @media (max-width: 576px) {
      top: 90%;

      &.right {
        right: 25%;
      }
  
      &.left {
        left: 25%;
        z-index: 15;
      }
    }
    @media (max-width: 480px) {
      top: 90%;

      &.right {
        right: 23%;
      }
  
      &.left {
        left: 23%;
        z-index: 15;
      }
    }

    &.right:hover,
    &.left:hover {
      transition: all 0.3s;
      background: #fddcc4;
      border-color: #fddcc4;
    }
  }
}
