%btn {
  font-family: $secondary-font-family;
  font-weight: 400;
  font-size: 17px;
  background-color: transparent;
  border-radius: 25px;
  border: 0;
  letter-spacing: 0.06em;

  &:hover {
    background-color: #FDDCC4;
    transition: all .3s;
  }

  &:disabled {
    background-color: initial;
    color: #E06733;
  }

  &.active {
    color: #fff;
    background-color: #E06733;
  }
  
}

.primary-btn {
  @extend %btn;

  margin-top: 30px;
  padding: 16px 27px;
  font-size: 17px;
  min-width: 205px;
  background-color: #F1CDB3;
  color: #010201;
}

.secondary-btn {
  @extend %btn;

  font-family: $secondary-font-family;
  color: #E06733;
  font-size: 20px;
  min-width: 161px;
  padding-block: 12px;
  border-radius: 5px;
  margin-inline: 15px;
}