.our-friends-item {
  text-align: center;
  margin: auto;
  border-radius: 10px;
  background: #ffffff;
  overflow: hidden;
  padding-bottom: 47px;
  cursor: pointer;
  transition: all 0.3s;
  max-width: 270px;
  
  @media (min-width: 577px) {
    margin: 20px auto;
  }
  
  @media (max-width: 576px) {
    margin-bottom: 88px;
    margin-top: 20px;
  }

  @media (max-width: 480px) {
    max-width: 250px;
    margin-bottom: 80px;
  }

  img {
    height: 267px;
    object-fit: cover;

    @media (max-width: 480px) {
      height: 225px;
    }
  }

  &:hover {
    box-shadow: 0 5px 20px rgb(0 0 0 / 25%);
  }

  h3 {
    margin: 27px 0 46px;
    font-size: 20px;
    letter-spacing: 0.06em;
  }
}

.pets-page {
  .our-friends-item {
    margin-bottom: 33px;

    @media (max-width: 576px) {
      margin-bottom: 33px;
      
      &.mobile-hidden {
        display: none;
      }
    }
  }
}
